site_name: Future Energy Outlook Docs

plugins:
    - search
    - mkdocstrings
    - multirepo:
          cleanup: true
    - mkdocs-jupyter:
          include: ["*.ipynb"]
          include_source: True

nav:
  - Docs:
    - index.md
    - Python Client:
      - Installation: installation.md
      - API: client/api.md
      - Node: client/node.md
      - Asset: client/asset.md
      - 'Asset Collection': client/asset_collection.md
      #- Source: client/source.md
      #- Publisher: client/publisher.md
      - Model: client/model.md
      - Scenario: client/scenario.md
      - Run: client/run.md
      - 'Record Collection': client/record_collection.md
      - Technology: client/technology.md
      - Geometry: client/geometry.md
    - Data Coverage:
      - Power:
        - Generation: data-coverage/power/generation.md
        - Assets: data-coverage/power/assets.md
      - Steel: data-coverage/steel/index.md
    # - FEO-OSeMOSYS: '!import https://github.com/transition-zero/feo-esmod-osemosys'
  - API Reference: redoc.md
  - Tutorials: '!import https://github.com/transition-zero/feo-client-examples?branch=main&docs_dir=feo-client-examples'
  - Tech Blog: https://transitionzero.medium.com/
repo_url: https://github.com/transition-zero/feo-client

theme:
  name: material
  favicon: https://images.squarespace-cdn.com/content/v1/63d1607c35efbd5cbfee1529/294783be-8cea-4002-8dc7-c3c7842c0401/favicon.ico?format=100w
  logo: https://feo.transitionzero.org/brand/logo_short_white.svg
  palette:
    # Palette toggle for light mode
    - scheme: transitionzero
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - header.autohide
    - navigation.tabs
    - navigation.expand



extra_css:
  - stylesheets/extra.css
