@font-face {
  font-family: 'Good Sans';
  src: url('../assets/fonts/GoodSans-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Good Sans';
  src: url('../assets/fonts/GoodSans-RegularItalic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Good Sans';
  src: url('../assets/fonts/GoodSans-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Good Sans';
  src: url('../assets/fonts/GoodSans-MediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}

[data-md-color-scheme="transitionzero"] {
  --md-primary-fg-color:        #1F283D;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #FFB405;
  --md-primary-bg-color: #1F283D;
}

:root {
  --md-text-font: 'Good Sans', sans-serif;
}

.md-header__topic {
  font-weight: 500 !important;
}

[dir=ltr] .md-header__title {
  margin-left: 16px;
}

.md-header__button {
  padding: 0 !important;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: 40px;
    height: 40px;
}
